// Default CSS from:
// https://github.com/lloydwatkin/jquery.autocomplete
//
// Customized for Decidim UI according to the Decidim theme.

// If you want to override these for the instance, just add them to the
// instance's own SCSS settings without the `!default` flag.
$autocomplete-border: $input-border !default;
$autocomplete-background: $white !default;
$autocomplete-highlight-color: $highlight-color !default;
$autocomplete-selected-color: $medium-gray !default;
$autocomplete-max-height: 350px !default;

#add-translations-search{
  overflow: visible;

  .autocompleteContainer{
    width: 100%;
  }

  .autocomplete-w1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .autocomplete{
    border: $autocomplete-border;
    background: $autocomplete-background;
    cursor: default;
    text-align: left;
    max-height: $autocomplete-max-height;
    overflow: auto;

    strong{
      font-weight: normal;
      color: $autocomplete-highlight-color;
    }
  }

  .autocomplete .selected{
    background: $autocomplete-selected-color;
  }

  .autocomplete div{
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
  }
}
