<%= decidim_form_for(@form, html: { class: "form translation-sets-form new_translation_set translation_set_form_admin" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>

<%= javascript_pack_tag "decidim_term_customizer_translation_sets_admin" %>
